<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Majesty Avocados</title>
    <link rel="stylesheet" href="../static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/5703662b44.js" crossorigin="anonymous"></script>
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">Majesty Avocados</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="index.html">Home</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="price.html">Price Prediction</a></li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="regions.html">Target Regions</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center"><img src="../static/img/avocado%20icon.png" style="padding-bottom:40px"/>
        <div class="container">
            <h1>Majesty Avocados</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Mexico's Fastest Growing Avocado Distributor</h2>
        </div>
    </header>
    <section id="tools" class="tools">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">Tools</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Price Prediction Tool</h4>
                                <p class="card-text">Majesty Avodcados price prediction tool is a utility that can be used to calculate pricing for avocados within a certain market.&nbsp;</p><a class="btn btn-primary" role="button" href="price.html">Go There Now</a></div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Target Regions Analysis</h4>
                                <p class="card-text">The Target Regions Analysis utility is used to examine trends and provide an interactive view of regional data over time.</p><a class="btn btn-primary" role="button" href="regions.html">Go There Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-uppercase text-center text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col">
                    <h1>Majesty Avocados LLC. is Mexico's fastest growing avocado distributor. Our business unifies Mexico's small avocado farms, expanding their reach while bringing consumers the freshest of produce at a reasonable price.</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright ©&nbsp;Majesty Avocados 2018</small></div>
    </div>
    <script src="../static/js/lib/jquery.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
    <script src="../static/js/chart.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/freelancer.js"></script>

</body>
</html>